.container, .objeto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%;
  height: 100vh;
}

.objeto {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background-color: black;
  transition: 0.5s ease;
}

.objeto:hover {
  border-radius: 50%;
  background-color: yellow;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}