<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <main>
        <h1>Home Page</h1>
        <hr>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet tempora omnis quia debitis illo veritatis mollitia qui praesentium maxime eligendi? Deleniti impedit, fugit tempore repellendus beatae itaque? Accusamus, eius eum.</p>
    </main>
</body>
</html>